<leap-page-ribbon></leap-page-ribbon>

<nb-layout withScroll restoreScrollTop>
  <nb-layout-header fixed>
    <button nbButton ghost status="basic" size="large" (click)="toggle()"><nb-icon icon="menu-2-outline" status="basic"></nb-icon></button>
    <a [routerLink]="['/employee/show']" class="navbar-brand logo" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span leapTranslate="global.title" class="navbar-title">Intranet</span>
      <span class="navbar-version">{{ version }}</span>
    </a>
    
  </nb-layout-header>
  <nb-sidebar class="sidebar-color" tag="left" start responsive autosize [ngSwitch]="account !== null">
    <div class="main-content">
      <nb-card class="nbCard">
        <button
          *leapHasAnyAuthority="'ROLE_ADMIN'"
          id="jh-create-entity"
          data-cy="entityCreateButton"
          nbButton
          status="primary"
          shape="semi-round"
          size="medium"

          [routerLink]="['/employee/new']"
        >
          <nb-icon icon="plus"></nb-icon>Add new employee
        </button>
      </nb-card>
      <mat-accordion class="app-nav-accordion">
        <mat-nav-list>
          <mat-list-item
            (click)="collapseNavbar()"
            [routerLink]="['/employee/show']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon [class.active]="selected" matListIcon><nb-icon icon="home"></nb-icon></mat-icon>
            <a matLine leapTranslate="global.menu.home">Home</a>
          </mat-list-item>
        </mat-nav-list>
        <mat-expansion-panel
          class="mat-elevation-z0"
          *ngSwitchCase="true"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-expansion-panel-header>
            <mat-list-item href="javascript:void(0);" id="entity-menu" data-cy="entity">
              <mat-panel-title>
                <mat-icon matListIcon><nb-icon icon="layers"></nb-icon></mat-icon>
                <span leapTranslate="global.menu.entities.main">Entities</span>
              </mat-panel-title>
            </mat-list-item>
          </mat-expansion-panel-header>
          <mat-nav-list aria-labelledby="entity-menu">
            <a
              mat-list-item
              routerLink="employee"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <mat-icon matListIcon><nb-icon icon="edit"></nb-icon></mat-icon>
              <a leapTranslate="global.menu.entities.employee">Employee</a>
            </a>
            <a
              mat-list-item
              routerLink="event"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <mat-icon matListIcon><nb-icon icon="edit"></nb-icon></mat-icon>
              <a leapTranslate="global.menu.entities.event">Event</a>
            </a>
            
            <a
              mat-list-item
              *leapHasAnyAuthority="'ROLE_ADMIN'"
              routerLink="job"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <mat-icon matListIcon><nb-icon icon="edit"></nb-icon></mat-icon>
              <a leapTranslate="global.menu.entities.job">Job</a>
            </a>
            <a
              mat-list-item
              routerLink="project"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <mat-icon matListIcon><nb-icon icon="edit"></nb-icon></mat-icon>
              <a leapTranslate="global.menu.entities.project">Project</a>
            </a>
            <a
              mat-list-item
              routerLink="assignment"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <mat-icon matListIcon><nb-icon icon="edit"></nb-icon></mat-icon>
              <a leapTranslate="global.menu.entities.assignment">Assignment</a>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel
          class="mat-elevation-z0"
          *leapHasAnyAuthority="'ROLE_ADMIN'"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-expansion-panel-header>
            <mat-list-item href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
              <mat-panel-title>
                <mat-icon matListIcon><nb-icon icon="people"></nb-icon></mat-icon>
                <span leapTranslate="global.menu.admin.main">Administration</span>
              </mat-panel-title>
            </mat-list-item>
          </mat-expansion-panel-header>
          <mat-nav-list aria-labelledby="admin-menu">
            <a mat-list-item routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
              <mat-icon matListIcon><nb-icon icon="eye"></nb-icon></mat-icon>
              <a leapTranslate="global.menu.admin.userManagement">User management</a>
            </a>
            <a mat-list-item routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
              <mat-icon matListIcon><nb-icon icon="folder"></nb-icon></mat-icon>
              <a leapTranslate="global.menu.admin.metrics">Metrics</a>
            </a>
            <a mat-list-item routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
              <mat-icon matListIcon><nb-icon icon="shield"></nb-icon></mat-icon>
              <a leapTranslate="global.menu.admin.health">Health</a>
            </a>
            <a mat-list-item routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
              <mat-icon matListIcon><nb-icon icon="monitor"></nb-icon></mat-icon>
              <a leapTranslate="global.menu.admin.configuration">Configuration</a>
            </a>
            <a mat-list-item routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
              <mat-icon matListIcon><nb-icon icon="archive"></nb-icon></mat-icon>
              <a leapTranslate="global.menu.admin.logs">Logs</a>
            </a>
            <a *ngIf="openAPIEnabled" mat-list-item routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
              <mat-icon matListIcon><nb-icon icon="book"></nb-icon></mat-icon>
              <a leapTranslate="global.menu.admin.apidocs">API</a>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0" display="dynamic" *ngIf="languages && languages.length > 1">
          <mat-expansion-panel-header>
            <mat-list-item href="javascript:void(0);" id="languagesnavBarDropdown">
              <mat-panel-title>
                <mat-icon matListIcon><nb-icon icon="globe-2"></nb-icon></mat-icon>
                <span leapTranslate="global.menu.language">Language</span>
              </mat-panel-title>
            </mat-list-item>
          </mat-expansion-panel-header>
          <mat-nav-list aria-labelledby="languagesnavBarDropdown">
            <a
              mat-list-item
              *ngFor="let language of languages"
              [leapActiveMenu]="language"
              href="javascript:void(0);"
              (click)="changeLanguage(language); collapseNavbar()"
              >{{ language | findLanguageFromKey }}</a
            >

          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel
          class="mat-elevation-z0"
          display="dynamic"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="!account?.imageUrl"
          id="account-menu"
          data-cy="accountMenu"
        >
          <mat-expansion-panel-header>
            <mat-list-item>
              <mat-panel-title>
                <mat-icon matListIcon><nb-icon icon="settings-2"></nb-icon></mat-icon>
                <span leapTranslate="global.menu.account.main">Account</span>
              </mat-panel-title>
            </mat-list-item>
          </mat-expansion-panel-header>
          <mat-nav-list aria-labelledby="account-menu">
            <a
              mat-list-item
              *ngSwitchCase="true"
              routerLink="account/settings"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="settings"
            >
              <mat-icon [class.active]="selected" matListIcon><nb-icon icon="settings"></nb-icon></mat-icon>
              <a leapTranslate="global.menu.account.settings">Settings</a>
            </a>
            <a
              mat-list-item
              *ngSwitchCase="true"
              routerLink="account/password"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="passwordItem"
            >
              <mat-icon [class.active]="selected" matListIcon><nb-icon icon="message-square"></nb-icon></mat-icon>
              <a leapTranslate="global.menu.account.password">Password</a>
            </a>

            <a mat-list-item *ngSwitchCase="true" (click)="logout()" id="logout" data-cy="logout">
              <mat-icon [class.active]="selected" matListIcon><nb-icon icon="log-out"></nb-icon></mat-icon>
              <a leapTranslate="global.menu.account.logout">Sign out</a>
            </a>
            <a *ngSwitchCase="false" mat-list-item (click)="login()" id="login" data-cy="login">
              <mat-icon [class.active]="selected" matListIcon><nb-icon icon="log-in"></nb-icon></mat-icon>
              <a leapTranslate="global.menu.account.login">Sign in</a>
            </a>

            <a
              *ngSwitchCase="false"
              mat-list-item
              routerLink="account/register"
              [routerLinkActive]="['active']"
              (click)="collapseNavbar()"
              data-cy="register"
            >
              <mat-icon [class.active]="selected" matListIcon><nb-icon icon="person-add"></nb-icon></mat-icon>
              <a leapTranslate="global.menu.account.register">Register</a>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </nb-sidebar>

  <nb-layout-column class="colored-column-basic">
    <nb-card accent="info">
      <div class="container-fluid">
        <div class="card jh-card">
          <router-outlet></router-outlet>
        </div>
        <leap-footer></leap-footer>
      </div>
    </nb-card>
  </nb-layout-column>
</nb-layout>