<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="leap-assignment-heading"
        data-cy="AssignmentCreateUpdateHeading"
        leapTranslate="intranetApp.assignment.home.createOrEditLabel"
      >
        Create or edit a Assignment
      </h2>

      <div>
        <leap-alert-error></leap-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" leapTranslate="intranetApp.assignment.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" leapTranslate="intranetApp.assignment.startDate" for="field_startDate">Start Date</label>
          <div class="d-flex">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="datetime-local"
              class="form-control"
              name="startDate"
              formControlName="startDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('startDate')!.invalid && (editForm.get('startDate')!.dirty || editForm.get('startDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('startDate')?.errors?.required"
              leapTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('startDate')?.errors?.ZonedDateTimelocal"
              leapTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" leapTranslate="intranetApp.assignment.projectRole" for="field_projectRole">Project Role</label>
          <select class="form-control" name="projectRole" formControlName="projectRole" id="field_projectRole" data-cy="projectRole">
            <option [ngValue]="null">{{ 'intranetApp.ProjectRole.null' | translate }}</option>
            <option *ngFor="let projectRole of projectRoleValues" [value]="projectRole">
              {{ 'intranetApp.ProjectRole.' + projectRole | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('projectRole')!.invalid && (editForm.get('projectRole')!.dirty || editForm.get('projectRole')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('projectRole')?.errors?.required"
              leapTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" leapTranslate="intranetApp.assignment.project" for="field_project">Project</label>
          <select class="form-control" id="field_project" data-cy="project" name="project" formControlName="project">
            <option *ngIf="!editForm.get('project')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="projectOption.id === editForm.get('project')!.value?.id ? editForm.get('project')!.value : projectOption"
              *ngFor="let projectOption of projectsSharedCollection; trackBy: trackProjectById"
            >
              {{ projectOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['project'])!.invalid && (editForm.get(['project'])!.dirty || editForm.get(['project'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['project'])?.errors?.required"
            leapTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" leapTranslate="intranetApp.assignment.employee" for="field_employee">Employee</label>
          <select class="form-control" id="field_employee" data-cy="employee" name="employee" formControlName="employee">
            <option *ngIf="!editForm.get('employee')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="employeeOption.id === editForm.get('employee')!.value?.id ? editForm.get('employee')!.value : employeeOption"
              *ngFor="let employeeOption of employeesSharedCollection; trackBy: trackEmployeeById"
            >
              {{ employeeOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['employee'])!.invalid && (editForm.get(['employee'])!.dirty || editForm.get(['employee'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['employee'])?.errors?.required"
            leapTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span leapTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span leapTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
