<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="bankAccount">
      <h2 data-cy="bankAccountDetailsHeading"><span jhiTranslate="intranetApp.bankAccount.detail.title">Bank Account</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="intranetApp.bankAccount.id">Id</span></dt>
        <dd>
          <span>{{ bankAccount.id }}</span>
        </dd>
        <dt><span jhiTranslate="intranetApp.bankAccount.bankAccount">Bank Account</span></dt>
        <dd>
          <span>{{ bankAccount.bankAccount }}</span>
        </dd>
        <dt><span jhiTranslate="intranetApp.bankAccount.bankCode">Bank Code</span></dt>
        <dd>
          <span>{{ bankAccount.bankCode }}</span>
        </dd>
        <dt><span jhiTranslate="intranetApp.bankAccount.employeeAccount">Employee Account</span></dt>
        <dd>
          <div *ngIf="bankAccount.employeeAccount">
            <a [routerLink]="['/employee', bankAccount.employeeAccount?.id, 'view']">{{ bankAccount.employeeAccount?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bank-account', bankAccount.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
